#super-card
    width: 95%
    height: 95%
    background-color: #1b1b1b

.filtro
    height: 100%
    width: 20%
    background-color: #242424

.box-titulo-filtro
    height: 15%
    width: 100%
    display: flex
    justify-content: center
    align-items: center


.titulo-filtro
    font-size: 3em
    color: white
    //2d2d2d
    //353535
    //botao é 353535

#botao-pesquisar
    width: 17%
    height: 40px
    background-color: #353535
    border: none
    max-width: 40px

#campo-busca
    height: 40px
    background-color: #353535
    border: none
    width: 73%

#busca
    display: flex
    justify-content: center

.box-botao-colapso
    display: flex
    width: 95%
    height: 40px
    border: solid 1px white
    margin-top: 15px

.box-botao-colapso a
    height: 100%
    width: 100%
    text-align: center
    display: flex
    align-items: center
    font-size: 2em
    padding: 5% 10%
    color: white !important


.box-botao-colapso a:hover
    text-decoration: none
    color: #b9b9b9 !important


#filtros
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column

.lista-filtros
    display: flex
    flex-flow: column
    height: 100%
    width: 100%
.lista-filtros li label
    color: #b9b9b9